# Problem Set 1, due April 13th at 3:30pm 
(in other words, it is due at noon, or one minute after 11:59am).

###Before You Start
Make sure to at least take a basic tutorial in the IPython notebook, otherwise you'll be totally lost.  For this problem set, you should download INFX574-PS1.ipynb and the flights.zip dataset from Canvas. Create a local copy of the notebook and rename it LASTNAME_FIRSTNAME-PS1.ipynb. Then edit your renamed file directly in your browser by typing:
```
ipython notebook <name_of_downloaded_file>
```

You should also make sure the following libraries load correctly (click on the box below and hit Ctrl-Enter)

In [1]:
#IPython is what you are using now to run the notebook
import IPython
print "IPython version:      %6.6s (need at least 1.0)" % IPython.__version__

# Numpy is a library for working with Arrays
import numpy as np
print "Numpy version:        %6.6s (need at least 1.7.1)" % np.__version__

# SciPy implements many different numerical algorithms
import scipy as sp
print "SciPy version:        %6.6s (need at least 0.12.0)" % sp.__version__

# Pandas makes working with data tables easier
import pandas as pd
print "Pandas version:       %6.6s (need at least 0.11.0)" % pd.__version__

# Module for plotting
import matplotlib
print "Mapltolib version:    %6.6s (need at least 1.2.1)" % matplotlib.__version__

# SciKit Learn implements several Machine Learning algorithms
import sklearn
print "Scikit-Learn version: %6.6s (need at least 0.13.1)" % sklearn.__version__

IPython version:       4.1.2 (need at least 1.0)
Numpy version:        1.10.4 (need at least 1.7.1)
SciPy version:        0.17.0 (need at least 0.12.0)
Pandas version:       0.18.0 (need at least 0.11.0)
Mapltolib version:     1.5.1 (need at least 1.2.1)
Scikit-Learn version: 0.17.1 (need at least 0.13.1)

##About the Problem Set: 
This is the same problem set used by Emma Spiro in INFX573. The only difference is that instead of doing the problem set in R, you will use Python and the IPython notebook.

##Instructions: 
In this problem set you will perform a basic exploratory analysis on an example dataset, bringing to bear all of your new skills in data manipulation and visualization. You will be required to submit well commented python code, documenting all code used in this problem set, along with a write up answering all questions below. Use figures as appropriate to support your answers, and when required by the problem. 
This data set uses the NYCFlights13 dataset. You can download the dataset from canvas.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
flights_df= pd.read_csv('/Users/abhi/Documents/UW/Courses/Spring_Quarter_17/INFX-574/data/Problem_Set_1/flights.csv')

In [7]:
print flights_df.shape
print flights_df.columns
print flights_df.dtypes

(336776, 17)
Index([u'Unnamed: 0', u'year', u'month', u'day', u'dep_time', u'dep_delay',
       u'arr_time', u'arr_delay', u'carrier', u'tailnum', u'flight', u'origin',
       u'dest', u'air_time', u'distance', u'hour', u'minute'],
      dtype='object')
Unnamed: 0      int64
year            int64
month           int64
day             int64
dep_time      float64
dep_delay     float64
arr_time      float64
arr_delay     float64
carrier        object
tailnum        object
flight          int64
origin         object
dest           object
air_time      float64
distance        int64
hour          float64
minute        float64
dtype: object

In [8]:
flights_df.dest.unique()
flights_df.head(10)

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
5,6,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
6,7,2013,1,1,555.0,-5.0,913.0,19.0,B6,N516JB,507,EWR,FLL,158.0,1065,5.0,55.0
7,8,2013,1,1,557.0,-3.0,709.0,-14.0,EV,N829AS,5708,LGA,IAD,53.0,229,5.0,57.0
8,9,2013,1,1,557.0,-3.0,838.0,-8.0,B6,N593JB,79,JFK,MCO,140.0,944,5.0,57.0
9,10,2013,1,1,558.0,-2.0,753.0,8.0,AA,N3ALAA,301,LGA,ORD,138.0,733,5.0,58.0

##Some Tips

* This assignment involves extensive Data frame splitting and aggregation. You should look into the details of the methods groupby, transform, sum, count, mean etc
* Many of the tasks in the assignment can be done either through the Pandas Data Frame or by converting the data frames to Series. Many of the methods in the numpy are applicable to Series only. When stuck, try to explore the type of object (Pandas Data Frame or Numpy Series) you are dealing with.

##Question 1
Letâ€™s explore flights from NYC to Seattle. Use the flights dataset to answer the following questions.

(a) How many flights were there from NYC airports to Seattle in 2013?

In [12]:
dest_seattle = len(flights_df[flights_df['dest'] == 'SEA'])

In [13]:
dest_seattle

3923

Since all the flights originate form NYC, we need to consider only the flights where the destination is Seattle. Here we see that we have performed indexing of only those flights in the NYC dataset whose 'dest' is SEA. Once we do that we calculate the number of rows in the filtered dataset which is 3923

(b) How many airlines fly from NYC to Seattle?

In [14]:
unique_carriers = set(flights_df[flights_df['dest'] == 'SEA']['carrier'])

In [16]:
print unique_carriers, len(unique_carriers)

set(['AA', 'B6', 'AS', 'UA', 'DL']) 5

Here we perform the same filtering as above but also reduce the dataset to only the 'carrier' column. After doing this we pass the dataset through the set datatype in order to obtain unique carrier names. Thus we can see that there are 5 unique carriers from NYC to Seattle are as above. Just for curiosity I took a look at the names of these given acronyms which are American Airlines, Alaskan Airlines, JetBlue, Delta and United Airlines :)

(c) How many unique air planes fly from NYC to Seattle?

In [ ]:
# Your code here

 -- Write your answer in English here --

(d) What is the average arrival delay for flights from NC to Seattle?

In [ ]:
# Your code here

 -- Write your answer in English here --

(e) What proportion of flights to Seattle come from each NYC airport?

In [ ]:
# Your code here

 -- Write your answer in English here --

## Question 2
Flights are often delayed. Consider the following questions exploring delay patterns.

(a) Which date has the largest average departure delay? Which date has the largest average arrival delay?

In [ ]:
# Your code here

 -- Write your answer in English here --

(b) What was the worst day to fly out of NYC in 2013 if you dislike delayed flights?

In [ ]:
# Your code here

 -- Write your answer in English here --

(c) Are there any seasonal patterns in departure delays for flights from NYC?

In [ ]:
# Your code here

 -- Write your answer in English here --

(d) On average, how do departure delays vary over the course of a day?

In [ ]:
# Your code here

 -- Write your answer in English here --

## Question 3
    Which flight departing NYC in 2013 flew the fastest?

In [25]:
flights_df['speed'] = flights_df['distance']/(flights_df['air_time']/60)

In [26]:
flights_df.sort(['speed'], ascending = False).head(1)

/anaconda/envs/gl-env/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute,speed
216447,216448,2013,5,25,1709.0,9.0,1923.0,-14.0,DL,N666DN,1499,LGA,ATL,65.0,762,17.0,9.0,703.384615

First we created a new column by dividing the distance of the flight by the total air_time ( in hours) and called it speed. After that we sorted the dataframe in descending order and returned the topmost row which we can see is a Delta Airlines flight to Atlanta From LaGuardia Airport in the year 2013

## Question 4
Which flights (i.e. carrier + flight + dest) happen every day? Where do they fly to?

In [ ]:
# Your code here

 -- Write your answer in English here --

## Question 5
Develop one research question you can address using the nycflights2013 dataset. Provide two visualizations to support your exploration of this question. Discuss what you find.

In [ ]:
# Your code here

 -- Enter your discussion here --

## Question 6
What weather conditions are associated with flight delays leaving NYC? Use graphics to explore.

In [ ]:
# Your code here

-- Enter your interpretation here --